.newsAndGameInsightsChild {
  width: 25.611rem;
  height: 4.833rem;
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(90deg, #120724, #8e1e1e);
  display: none;
  max-width: 100%;
}
.frameChild {
  width: 80rem;
  height: 88.278rem;
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0px 0px;
  background: linear-gradient(90deg, #120724, #8e1e1e);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.icbaselineCelebration {
  width: 1.333rem;
  height: 1.333rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 3;
}
.frameItem {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 14.378rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.frameInner {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 17.9rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.lineDiv {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 21.422rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.frameChild1 {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 24.95rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.frameChild2 {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 28.472rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.frameChild3 {
  width: 66.417rem;
  height: 0.056rem;
  position: absolute;
  margin: 0 !important;
  right: 4.7rem;
  bottom: 31.994rem;
  border-top: 1px dashed var(--color-slategray);
  box-sizing: border-box;
  z-index: 5;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-xl) var(--br-xl) 0px 0px;
  background: linear-gradient(90deg, #120724, #8e1e1e);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-4xl) 5.833rem var(--padding-23xl);
  box-sizing: border-box;
  position: relative;
  gap: 2.5rem;
  max-width: 100%;
}
.newsAndGameInsights {
  width: 100%;
  position: relative;
  background-color: var(--secondary-primary-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.167rem;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .rectangleParent {
    padding-top: var(--padding-xl);
    padding-bottom: 3.778rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .rectangleParent {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    gap: 1.222rem 2.5rem;
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
