.signupPageChild {
  position: fixed;
  top: 0rem;
  left: 0rem;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #120724 0deg,
    #640404 360deg
  );
  width: 100%;
  height: 100%;
  display: none;
}
.signUpPage {
  position: fixed;
  top: 24.556rem;
  left: 11.444rem;
  border-top: 2px solid var(--secondary-primary-white);
  box-sizing: border-box;
  width: 25.278rem;
  height: 0.111rem;
  z-index: 1;
}
.signupPageItem {
  position: fixed;
  top: 7rem;
  left: 47rem;
  width: 10.111rem;
  height: 9.222rem;
  object-fit: cover;
  z-index: 1;
}
.email {
  position: fixed;
  top: 22.333rem;
  left: 11.444rem;
  display: inline-block;
}

.passwordlabel{
  z-index: 1;
  border: none;
  background-color: transparent;
  height: 2.333rem;
  border-bottom: 2px solid var(--secondary-primary-white);
  width: 21rem;
  font-family: var(--font-jura);
  font-size: var(--font-size-7xl);
  color: var(--secondary-primary-white);
}
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-48xl) 0rem 0rem;
  box-sizing: border-box;
  min-width: 18.222rem;
  max-width: 100%;
}
.welcomeIAm {
  margin: 0;
}
.welcomeIAmContainer {
  height: 15.444rem;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 18.278rem;
  max-width: 100%;
  z-index: 1;
}
.frameParent {
  position: fixed;
  top: 19rem;
  left: 17rem;
  width: 60.333rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-56xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--secondary-primary-white);
  font-family: var(--font-jura);
}
.signupPage {
  width: 100%;
  height: 56.889rem;
  position: fixed;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #120724 0deg,
    #640404 360deg
  );
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--secondary-primary-white);
  font-family: var(--font-jura);
}

@media screen and (max-width: 750px) {
  .email {
    font-size: var(--font-size-5xl);
  }

  .welcomeIAmContainer {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 675px) {
  .signupPage {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 450px) {
  .email {
    font-size: var(--font-size-lg);
  }

  .welcomeIAmContainer {
    font-size: var(--font-size-lgi);
  }
}
