@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  /* fonts */
  --font-jura: Jura;
  --font-kavivanar: Kavivanar;
  --font-khula: Khula;
  --product: Inter;

  /* font sizes */
  --font-size-13xl: 1.778rem;
  --font-size-lgi: 1.056rem;
  --font-size-7xl: 1.444rem;
  --font-size-11xl: 1.667rem;
  --font-size-lg: 1rem;
  --font-size-5xl: 1.333rem;
  --font-size-31xl: 2.778rem;
  --font-size-21xl: 2.222rem;
  --font-size-6xl: 1.389rem;
  --font-size-xl: 1.111rem;
  --font-size-base: 0.889rem;
  --font-size-mini: 0.833rem;
  --font-size-45xl: 3.556rem;
  --font-size-32xl: 2.833rem;
  --font-size-19xl: 2.111rem;
  --font-size-sm: 0.778rem;
  --font-size-3xs: 0.556rem;
  --product-size: 0.667rem;
  --font-size-9xl: 1.556rem;
  --font-size-3xl: 1.222rem;

  /* Colors */
  --secondary-primary-white: #fff;
  --color-orangered: #ff6b00;
  --color-darkorange: #f49200;
  --color-gainsboro-100: #e7e7e7;
  --color-gainsboro-200: #d8d8d8;
  --color-gainsboro-300: rgba(217, 217, 217, 0);
  --color-limegreen: #44de1e;
  --color-black: #000;
  --color-slategray: #56577a;
  --gray-gray-300: #cbd5e0;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #060c29;
  --color-gray-300: #0a0115;
  --color-gray-400: #010018;
  --color-gray-500: rgba(1, 0, 24, 0.97);
  --gray-gray-400: #a0aec0;
  --color-mediumseagreen: #01b574;
  --color-whitesmoke: #eee;
  --data4: #16bed5;
  --data3: #f765a3;
  --data2: #a155b9;
  --data1: #165baa;
  --gray3: #bdbdbd;
  --color-midnightblue: #15175e;

  /* Gaps */
  --gap-56xl: 4.167rem;
  --gap-xl: 1.111rem;
  --gap-46xl: 3.611rem;
  --gap-8xs: 0.278rem;
  --gap-sm: 0.778rem;
  --gap-6xl: 1.389rem;
  --gap-3xs: 0.556rem;
  --gap-15xl: 1.889rem;
  --gap-7xs: 0.333rem;
  --gap-12xl: 1.722rem;
  --gap-10xl: 1.611rem;
  --gap-lgi: 1.056rem;
  --gap-2xs-3: 0.572rem;
  --gap-10xs: 0.167rem;
  --gap-smi: 0.722rem;
  --gap-mini: 0.833rem;
  --gap-20xl-2: 2.178rem;
  --gap-mini-6: 0.811rem;
  --gap-2xs-6: 0.589rem;
  --gap-14xl-8: 1.878rem;
  --gap-15xl-5: 1.917rem;
  --gap-3xs-8: 0.544rem;
  --gap-3xl-7: 1.261rem;
  --gap-5xs-2: 0.4rem;
  --gap-xs-5: 0.639rem;
  --gap-16xl: 1.944rem;
  --gap-2xl-6: 1.2rem;
  --gap-mid-9: 0.994rem;
  --gap-5xs-7: 0.428rem;
  --gap-192xl-5: 11.75rem;
  --gap-11xs-8: 0.1rem;
  --gap-8xs-2: 0.233rem;
  --gap-50xl: 3.833rem;
  --gap-20xl: 2.167rem;
  --gap-8xs-9: 0.272rem;
  --gap-lgi-9: 1.106rem;
  --gap-5xs: 0.444rem;
  --gap-xs: 0.667rem;
  --gap-smi-9: 0.717rem;
  --gap-40xl-2: 3.289rem;
  --gap-11xl: 1.667rem;
  --gap-23xl-1: 2.339rem;

  /* Paddings */
  --padding-48xl: 3.722rem;
  --padding-xl: 1.111rem;
  --padding-5xl-5: 1.361rem;
  --padding-8xs: 0.278rem;
  --padding-17xl: 2rem;
  --padding-sm: 0.778rem;
  --padding-9xl: 1.556rem;
  --padding-23xl: 2.333rem;
  --padding-11xl: 1.667rem;
  --padding-8xl: 1.5rem;
  --padding-18xl: 2.056rem;
  --padding-7xl: 1.444rem;
  --padding-6xl: 1.389rem;
  --padding-mid: 0.944rem;
  --padding-10xl: 1.611rem;
  --padding-smi: 0.722rem;
  --padding-14xl: 1.833rem;
  --padding-3xs: 0.556rem;
  --padding-7xs: 0.333rem;
  --padding-xs: 0.667rem;
  --padding-9xs: 0.222rem;
  --padding-5xl: 1.333rem;
  --padding-mini: 0.833rem;
  --padding-6xs: 0.389rem;
  --padding-2xl: 1.167rem;
  --padding-4xs: 0.5rem;
  --padding-10xs: 0.167rem;
  --padding-4xl: 1.278rem;
  --padding-lgi: 1.056rem;
  --padding-16xl: 1.944rem;
  --padding-5xs: 0.444rem;
  --padding-12xs: 0.056rem;
  --padding-25xl: 2.444rem;
  --padding-49xl-5: 3.806rem;
  --padding-26xl: 2.5rem;
  --padding-36xl: 3.056rem;
  --padding-3xl: 1.222rem;
  --padding-20xl: 2.167rem;
  --padding-base: 0.889rem;
  --padding-66xl: 4.722rem;
  --padding-2xs: 0.611rem;
  --padding-27xl: 2.556rem;
  --padding-7xl-2: 1.456rem;
  --padding-14xl-6: 1.867rem;
  --padding-30xl-8: 2.767rem;
  --padding-13xl: 1.778rem;
  --padding-smi-6: 0.7rem;
  --padding-mini-7: 0.817rem;
  --padding-11xs-6: 0.089rem;
  --padding-11xs: 0.111rem;
  --padding-8xs-9: 0.272rem;
  --padding-11xs-5: 0.083rem;
  --padding-lgi-7: 1.094rem;
  --padding-2xs-5: 0.583rem;
  --padding-11xs-2: 0.067rem;
  --padding-32xl-5: 2.861rem;
  --padding-54xl: 4.056rem;
  --padding-31xl-7: 2.817rem;
  --padding-44xl: 3.5rem;
  --padding-12xl: 1.722rem;
  --padding-6xs-6: 0.367rem;
  --padding-6xs-5: 0.361rem;
  --padding-2xs-4: 0.578rem;
  --padding-110xl-3: 7.183rem;
  --padding-65xl: 4.667rem;
  --padding-65xl-8: 4.711rem;
  --padding-mini-1: 0.783rem;
  --padding-122xl: 7.833rem;
  --padding-smi-9: 0.717rem;
  --padding-99xl: 6.556rem;
  --padding-92xl-4: 6.189rem;
  --padding-14xl-3: 1.85rem;
  --padding-12xs-2: 0.011rem;
  --padding-40xl-8: 3.322rem;
  --padding-131xl: 8.333rem;
  --padding-42xl: 3.389rem;
  --padding-9xl-8: 1.6rem;
  --padding-39xl-8: 3.267rem;
  --padding-43xl: 3.444rem;
  --padding-21xl: 2.222rem;
  --padding-53xl: 4rem;
  --padding-50xl-8: 3.878rem;
  --padding-33xl: 2.889rem;
  --padding-32xl: 2.833rem;
  --padding-base-2: 0.844rem;
  --padding-5xs-5: 0.417rem;
  --padding-mid-9: 0.994rem;
  --padding-xs-1: 0.617rem;
  --padding-4xs-1: 0.45rem;
  --padding-9xs-2: 0.178rem;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-mini: 15px;
}